#main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#section01 {
    width: 100%;
    margin-top: 170px;
}

#section01 img {
    border-radius: 50%;
    border: 2px black solid;
    margin: 10px;
}

#section02{
    display: flex;
    flex-wrap: wrap;
}

#section02 img {
    border: 2px black solid;
    border-radius: 10px;
    margin: 10px;
}

.country {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
