@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  margin: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #aadaff;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/worldMap.png');
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: 0 120px;
}